body {
  background-image: radial-gradient(circle at 95% 68%,#170d31,#1f157a 58%);
}
h1 {
  font-size: 40px;
  margin-left: 220px;
  color: whitesmoke;
}
h3{
  display: block;
  color: whitesmoke;
  font-weight: bold;
  font-size: 25px;
  opacity: 0.9;
}
p {
  color: whitesmoke;
}
.header{
  width: calc(100% -40);
  height: 60px;
  background: linear-gradient(48deg,
  #2B1B58 0%,
  #3022b4 100%);
  opacity: 0.6;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  border-bottom: 0.1px solid rgb(65, 139, 250);
}  
.menu{
  display: flex;
}
.menu li {
  margin-right: 10px;
}
.menu li a{
  display: block;
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
  padding: 10px;
}
.info li {
  display: block;
  color: whitesmoke;
  opacity: 0.9;
  font-weight: bold;
  font-size: 18px;
  margin-top: 5px;
}
.conteiner_flex{
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.propaganda{
  width: 200px;
  height: 800px;
  background: #7D6082;
  border-radius: 10px;
  border: 1px solid rgb(5, 1, 1);
  box-sizing: border-box;
  text-align: center;
}
.mesa{
  width: 1300px;
  height: 800px;
  background-image: radial-gradient(circle at 50% 50%,#77A363,#325024 80%);
  border-radius: 300px;
  border: 1px solid rgb(255, 255, 255);
  box-sizing: border-box;
  display: block;
  
}
.quadrados_v{
  width: 100%;
  height: 266px;
  display: flex;
  justify-content: center
}
.quadrados_h{
  width: 100%;
  height: 266px;
  display: flex;
  justify-content: space-between
}
.separação_flex{
  margin-top: 30px;
  display: flex;
}
.cartas_horizontal{
  
  max-width: 100px;
  max-height: 158px;
  background: #FFFFFF;
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
  box-sizing: border-box;
  margin-left: 40px;
  margin-right: 45px;
  transform: rotate(90deg);
  object-fit: fill;
}
.cartas_vertical{
  max-width: 100px;
  max-height: 158px;
  background: #FFFFFF;
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
  box-sizing: border-box;
  margin: 10px;
  margin-top: 30px;
}

.cartas{
  width: 100%;
  height: 100%; 
  border-radius: 10px;
  
}
.flex_botoes{
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.botoes {
  display: none;
  background: linear-gradient(48deg,
  #431347 0%,
  #28082b 100%);
  color: white;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 15px;
  font-size: 18px;
  cursor: pointer;
}

.botoes:hover {
  background: linear-gradient(48deg,
  #AB75AF 0%,
  #633566 100%);
  color: rgb(39, 5, 5);
  border: 2px solid rgb(39, 5, 5);
}
.botao_comecar{
  display: flex;
  background: linear-gradient(48deg,
  #431347 0%,
  #28082b 100%);
  color: white;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 15px;
  font-size: 18px;
  cursor: pointer;
}
.botao_comecar:hover {
  background: linear-gradient(48deg,
  #AB75AF 0%,
  #633566 100%);
  color: rgb(39, 5, 5);
  border: 2px solid rgb(39, 5, 5);
}
.draggable {
  width: 200px;
  height: 230px;
  background-color: rgba(173, 230, 178, 0.151);
  position: absolute;
  top: 670px;
  right: 580px;
  cursor: grab;
  border: 1px solid rgb(0, 0, 60);
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
}

.draggable:active {
  cursor: grabbing;
}

.draggable:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgb(15, 43, 3);
  position: absolute;
  left: 50%;
  top: -10px;
  transform: translate(-50%, 0);
}

.draggable:after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: rgb(15, 43, 3);
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: -10px;
  transform: translate(-50%, 0);
  box-shadow: 2px 2px 2px black;
}
.invisivel{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  top: 0px;
  left:0px;
  opacity: 0.1;
}